---

- name: Create Cluster Admin
  mysql_user:
    #name: "{{admin_user}}"
    #password: "{{admin_password}}"
    name: "{{ morpheus['customOptions']['innodb_admin_user'] }}"
    password: "{{ morpheus['customOptions']['innodb_admin_password'] }}"
    priv: '*.*:ALL,GRANT'
    host: '%'
    append_privs: yes
    login_user: root
    #login_password: "{{root_password}}"
    login_password: "{{ morpheus['customOptions']['mysql_root_password'] }}"
    state: present

- name: Delete blank users
  mysql_query:
    query: "DELETE FROM mysql.user WHERE User='';"
    login_user: root
    login_password: "{{ morpheus['customOptions']['mysql_root_password'] }}"

- name: Delete test database
  mysql_db:
    name: test
    state: absent
    login_user: root
    login_password: "{{ morpheus['customOptions']['mysql_root_password'] }}"

- name: Delete references to test database
  mysql_query:
    query: "DELETE FROM mysql.db WHERE Db='test' OR Db='test\\_%';"
    login_user: root
    login_password: "{{ morpheus['customOptions']['mysql_root_password'] }}"

- name: Set invisible primary key
  mysql_query:
    query: "SET PERSIST sql_generate_invisible_primary_key=1;"
    login_user: root
    login_password: "{{ morpheus['customOptions']['mysql_root_password'] }}"

- name: Create MySQL InnoDB configuration file
  copy:
    dest: /etc/mysql/mysql.conf.d/innodb-mysqld.cnf
    content: |
      [mysqld]
      bind-address = 0.0.0.0
      max_connections = 451
      innodb_buffer_pool_size = 6G
      innodb_buffer_pool_instances = 6
      innodb_use_fdatasync = ON
      sql_generate_invisible_primary_key = 1
      binlog_expire_logs_seconds = 604800
      binlog_expire_logs_auto_purge = ON
      gtid_mode = ON
      enforce_gtid_consistency = ON
      server_id = {{ ansible_default_ipv4.address.split('.')[-1] }}


      [mysqldump]
      set-gtid-purged = OFF
    owner: root
    group: root
    mode: '0644'
  notify:
    - Restart mysql_db

- name: Flush handlers
  meta: flush_handlers

