# Managed by Ansible - role 21-ubuntu-rustfs-conf
RUSTFS_ACCESS_KEY={{ rustfs_access_key }}
RUSTFS_SECRET_KEY={{ rustfs_secret_key }}
{% set disk_count = rustfs_data_dirs.files | length %}
{% if disk_count > 1 %}
RUSTFS_VOLUMES="{{ rustfs_data_root }}/rustfs{0...{{ disk_count - 1 }}}"
{% else %}
RUSTFS_VOLUMES="{{ rustfs_data_root }}/rustfs0"
{% endif %}
RUSTFS_ADDRESS=":{{ rustfs_api_port }}"
RUSTFS_CONSOLE_ENABLE=true
RUSTFS_CONSOLE_ADDRESS=":{{ rustfs_console_port }}"
RUSTFS_OBS_LOGGER_LEVEL=error
RUSTFS_OBS_LOG_DIRECTORY="{{ rustfs_log_directory }}/"
